/* ---- search-popup ---- */

.search-popup {
  background-color: var(--dashboard-background);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3em;
  border-radius: 2em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: Lexend;
  gap: 3em;
  width: fit-content;
  min-height: 50vh;
}

.search-popup h1 {
  font-size: 1.4em;
  font-weight: 500;
  margin-right: 2.5em;
}

.search-popup p {
  font-size: medium;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.25em;
  width: 0.8em;
  height: 1.35em;
}

.search-popup > *:last-child {
  width: 10%;
}

/* ---- restaurants-to-add ---- */

.restaurants-to-add {
  width: 100%;
}

/* ---- popup-header ---- */

.popup-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

/* ---- added-restaurants ---- */

.added-restaurants {
  height: 28.5em;
  overflow-x: scroll;
  margin-bottom: 3.4em;
}

/* ---- no-searched-results ---- */

p.no-searched-results {
  width: fit-content;
  margin-bottom: 3em;
}

/* ---- popup-divider ---- */

.popup-divider {
  height: 100%;
  width: 3em;
  background-color: #191919;
  border-radius: var(--border-radius);
}

/* ---- find-a-restaurant ---- */

.find-a-restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
  font-family: Lexend;
}

/* ---- popup-header ---- */

.popup-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.popup-header p {
  background-color: #191919;
  border-radius: 10em;
  color: white;
  width: 1.4em;
}

/* ---- inputs ---- */

.inputs {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 2.5em;
  font-size: 0.9em;
  border-radius: 0.3em;
  background-color: white;
  padding: 0.2em;
}

.inputs > * {
  margin-left: 1em;
}

.inputs > *:first-child {
  border: none;
  background-color: none;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

/* -- Disable default styles -- */

textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

.inputs > *:sel {
  margin-left: 1em;
}

.inputs > *:nth-child(3) {
  border: none;
  background-color: none;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

/* ---- search-divider ---- */

.search-divider {
  height: 100%;
  width: 0.1em;
  margin: 0 0.5em;
  background-color: #dcdcdc;
  border-radius: var(--border-radius);
}

/* ---- search-restaurants ---- */

.searched-restaurants {
  width: 100%;
  padding-bottom: 0;
}

/* ---- close ---- */

img.close {
  width: fit-content;
  margin-top: -1.5em;
  margin-right: -1.5em;
  cursor: pointer;
}

/* ------------------- UNORGANIZED -------------------*/

/* --- RestaurantSection --- */

.popup-content {
  width: 100vw;
  height: 100vh;
  background-color: #191919c3;
}

.added-restaurants {
  width: 100%;
  padding-bottom: 0;
}

img.button.search {
  border: 0.22em solid #191919;
  margin-top: -0.2em;
  margin-right: -0.2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* --- RestaurantCard --- */

.restaurant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--profile-section-background-color);
  box-shadow: rgba(0, 0, 0, 0.058) 0px 4px 12px;
  border-radius: var(--border-radius);
  height: 19.5em;
  min-width: 22em;
}

.restaurant-card h2 {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
  font-size: var(--section-label-font-size);
  color: var(--header-color);
  font-weight: var(--header-font-weight);
  width: 75%;
}

.bookmark {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -0.2em;
  margin-right: 0.2em;
}

.bookmark img {
  transform: scale(0.8);
  width: 0.5em;
  margin-right: -0.5em;
}

.bookmark p {
  transform: scale(1.2);
  z-index: 1;
  color: #d27e00;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 10em;
}

.photo-container .delete-button {
  transform: scale(4);
  z-index: 1;
  height: 1.5em;
  width: 1.5em;
  margin: 1em 1em 0 0;
  margin-bottom: -2.5em;
  cursor: pointer;
}

.restaurant-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
}

.info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restaurant-card .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8em;
}

.restaurant-card .tags > * {
  margin: 0.2em 0;
}

.restaurant-card .tag {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
}

.photo-container {
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.restaurant-card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: flex-start;
  height: min-content;
  padding-top: 1em;
  width: 86%;
}
