/* ---- search-popup ---- */

.search-popup {
  background-color: var(--dashboard-background);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
  padding: 3em;
  border-radius: 2em;
  box-shadow: var(--box-shadow);
  font-family: Lexend;
  width: fit-content;
  gap: 3em;
}

.search-popup h1 {
  font-size: 1.4em;
  font-weight: 500;
  margin-right: 2.5em;
}

.search-popup p {
  font-size: medium;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.25em;
  width: 0.8em;
  height: 1.35em;
}

/* ---- items-to-add ---- */

.items-to-add {
  width: 100%;
}

/* ---- popup-header ---- */

.popup-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  justify-content: space-between;
}

/* ---- left-side ---- */

.left-side {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.left-side h1 {
  margin-right: 0.5em;
}

/* ---- group name ---- */

input.group.name {
  display: flex;
  flex-direction: row;
  height: 2.5em;
  font-size: 0.9em;
  border-radius: 0.3em;
  background-color: white;
  padding: 0.2em 1em;
  box-shadow: var(--input-box-shadow);
}

/* -- Disable default styles -- */

input > *:sel {
  margin-left: 1em;
}

input {
  border: none;
  background-color: none;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

/* ---- added-items ---- */

.added-items {
  width: 100%;
  height: fit-content;
  margin-bottom: 3em;
  overflow-x: scroll;
}

.added-items > *:first-child {
  border-top: 1px solid #191919;
}

/* ---- popup-divider ---- */

.popup-divider {
  height: 50em;
  width: 2em;
  background-color: #191919;
  border-radius: var(--border-radius);
}

/* ---- find-an-item ---- */

.find-an-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
  font-family: Lexend;
}

/* ---- popup-header ---- */

.popup-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.popup-header p {
  background-color: #191919;
  border-radius: 10em;
  color: white;
  width: 1.4em;
}

/* ---- inputs ---- */

.inputs {
  display: flex;
  flex-direction: row;
  box-shadow: var(--input-box-shadow);
  height: 2.5em;
  font-size: 0.9em;
  border-radius: 0.3em;
  background-color: white;
  padding: 0.2em;
}

.inputs > * {
  margin-left: 1em;
}

.inputs > *:first-child {
  border: none;
  background-color: none;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

/* -- Disable default styles -- */

textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

/* ---- search-divider ---- */

.search-divider {
  height: 100%;
  width: 0.1em;
  margin: 0 0.5em;
  background-color: #dcdcdc;
  border-radius: var(--border-radius);
}

/* ---  button search --- */

img.button.search {
  border: 0.22em solid #191919;
  margin-top: -0.2em;
  margin-right: -0.2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: var(--box-shadow);
}

/* ---- searched-items ---- */

.searched-items {
  width: 100%;
  padding-bottom: 0;
}

.searched-items > *:first-child {
  border-top: 1px solid #191919;
}

/* ---- close ---- */

img.close {
  width: fit-content;
  cursor: pointer;
  transform: scale(2.4);
}
