:root {
  --tag-text-color: #3b3b3b;
  --background-color: #eaeaea;
}

.profileTagContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 0.01em 0.8em;
  border-radius: 0.5em;
  font-weight: 500;
  background: var(--background-color);
  color: var(--tag-text-color);
}

.tagImg {
  margin-left: 0.5em;
  width: 1em;
  height: 2em;
  cursor: pointer;
}

span {
  white-space: pre;
}
