:root {
  --text-color: #393939;
  --background-color: #f2f2f2;
}

/* --- Tag --- */

.tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 2em;
  padding: 0em 0.8em;
  border-radius: 2em;
  font-size: 0.9em;
  font-weight: 400;
  background: #f0efec;
  color: #353434;
  margin-bottom: 0.6em;
  letter-spacing: 0.05em;
}

.tag-img {
  margin-left: 0.5em;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

span {
  white-space: pre;
}

/* --- Header --- */

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: #191919;
  color: white;
  padding: 0.7em 1em;
  border-radius: 0.4em;
  font-weight: 300;
  letter-spacing: 0.05em;
  height: fit-content;
  cursor: pointer;
  text-align: center;
}
