.group-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  padding: 2em;
  width: 95vw;
  height: 100vh;
}

.groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  padding: 2em;
  overflow-x: hidden;
}

.group-content {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 2em;
  /* height: 100vh; */
}

/* ---- All the groups ---- */

.groups-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: var(--gap);
}

.group {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #191919;
  font-size: 0.9em;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.058) 0px 4px 12px;
}

.group img {
  transform: scale(2.2);
  cursor: pointer;
}

.group.selected {
  background-color: #191919;
  color: white;
}

.label h2 {
  font-weight: 400;
  font-size: var(--section-label-font-size);
  margin-bottom: var(--section-label-margin-bottom);
  color: var(--section-label-font-color);
  font-weight: var(--header-font-weight);
}

.label p {
  color: var(--subheader-color);
  font-weight: var(--header-font-weight);
}

.group > * {
  white-space: nowrap;
}

.group-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em 0;
  width: 90%;
}

.group-section-header h1 {
  font-size: var(--header-size);
  font-weight: 400;
}

/* ---- GroupDetail ---- */

.group-detail {
  display: flex;
  flex-direction: column;
  margin-top: 10em;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.group-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.058) 0px 4px 12px;
  transform: scale(0.9);
  border-radius: var(--border-radius);
}

.group-members > *:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-top: unset;
}

.group-members > *:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.member-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
  padding: 2em;
  border-top: 0.2em solid var(--dashboard-background);
  background-color: var(--profile-section-background-color);
  text-align: left;
}

.member-card img {
  transform: scale(2.2);
  cursor: pointer;
}

.group-header h1 {
  font-size: var(--header-size);
  font-weight: 400;
}
