.group-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  width: 100vw;
  height: 100vh;
}

.groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  overflow-x: hidden;
}

.group-content {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 2em;
}

/* ---- All the groups ---- */

.groups-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: var(--gap);
}

.group {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #191919;
  font-size: 0.9em;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.058) 0px 4px 12px;
}

.group img {
  transform: scale(2.2);
  cursor: pointer;
}

.group.selected {
  background-color: #191919;
  color: white;
}

.label h2 {
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: var(--section-label-margin-bottom);
  color: var(--section-label-font-color);
  font-weight: var(--header-font-weight);
}

.label p {
  color: var(--subheader-color);
  font-weight: var(--header-font-weight);
}

.group > * {
  white-space: nowrap;
}

.group-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em 0;
  width: 90%;
}

.group-section-header h1 {
  font-size: var(--header-size);
  font-weight: 400;
}

/* ---- GroupDetail ---- */

.group-detail {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.group-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.058) 0px 4px 12px;
  border-radius: var(--border-radius);
}

.group-members > *:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-top: unset;
}

.group-members > *:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.member-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35vw;
  padding: 2em;
  border-top: 0.2em solid var(--dashboard-background);
  background-color: var(--profile-section-background-color);
  text-align: left;
}

.member-card img {
  transform: scale(2.2);
  cursor: pointer;
}

.member-card h2 {
  font-size: 1.15em;
  font-weight: 400;
  margin-bottom: 0.1em;
}

.member-card p {
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.512);
}

.group-header h1 {
  font-size: var(--header-size);
  font-weight: 400;
}

.main-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.main-buttons-container > * {
  width: fit-content;
  margin: unset;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap);
}

.back span {
  display: flex;
  flex-direction: row;
  color: #808080;
  font-weight: 300;
  letter-spacing: 0.05em;
  gap: 0.5em;
}

a.back {
  width: 70vw;
  text-align: left;
}

.group-detail {
  gap: 4em;
}

.group-detail-header {
  margin-bottom: 2em;
}

.group-detail-header h1 {
  font-size: var(--header-size);
  font-weight: 400;
  margin-bottom: 0.3em;
  height: fit-content;
}

.group-detail-header p {
  font-size: 1.2em;
  padding-left: unset;
  margin-left: unset;
}

.header-actions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  text-align: left;
  justify-items: flex-start;
  justify-content: center;
  gap: var(--gap);
}

.group-member-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50vh;
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 4em;
}

/* -------- Web -------- */

@media only screen and (min-width: 1300px) {
  .group-section {
    margin-left: -3em;
  }

  .group-detail {
    margin-left: 10em;
    padding-top: unset;
    gap: 8em;
  }

  .group-section {
    padding-left: 15em;
  }

  a.back {
    margin-top: -8em;
  }

  .content-container {
    gap: 8em;
  }
}
