.searched-restaurants {
  height: 32em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.searched-item-card {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #191919;
  min-width: 30em;
  padding-left: 1em;
  align-items: center;
  justify-items: center;
}

.searched-item-card h2 {
  padding: 0.1em;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 1em;
}

.searched-item-card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 86%;
  padding-bottom: 1em;
}

.searched-item-card .location {
  display: inline-flex;
}

.searched-item-card .location .marker {
  transform: scale(2.8);
  margin-left: 0.5em;
  margin-right: 0.8em;
  margin-top: -0.22em;
}

.searched-item-card .checkmark {
  transform: scale(2.4);
  margin-left: -2em;
}
