:root {
  --add-tag-text-color: white;
  --add-tag-background-color: #3b3b3b;
  --header-color: #191919;
  --main-header-color: #393939;
  --subheader-color: #6a6a6a;
  --border-color: #e9e9e9;
  --section-label-margin-bottom: 0.2em;
  --section-label-font-size: 1.2em;
  --section-label-font-color: #393939;
  --profile-section-background-color: white;
  --main-header-size: 1.8em;
  --profile-header-size: 1.6em;
  --header-size: 1.5em;
  --main-header-font-weight: 600;
  --header-font-weight: 400;
  --subheader-font-weight: 400;
  --header-offset-margin: 3em;
  --border-radius: 0.8em;
  --gap: 1.2em;
}

/* -------- Mobile -------- */

/* --- Profile --- */

.profile {
  margin-top: 2em;
  padding: 2em;
  width: 95vw;
  overflow-x: hidden;
}

/* --- Header --- */

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 3em;
}

.section-header h1 {
  font-size: var(--main-header-size);
  font-weight: var(--main-header-font-weight);
  color: var(--main-header-color);
}

.section-header h2 {
  font-weight: 400;
  color: #6a6a6a;
}

.section-header img {
  display: none;
}

/* --- DietaryPreferences --- */

.dietary-preferences {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 2em 0;
  padding: 0 3em;
  margin-bottom: 4em;
}

.dietary-preferences h1 {
  font-size: var(--header-size);
  font-weight: var(--header-font-weight);
  margin-left: var(--header-margin-offset);
  margin-bottom: 1.3em;
  color: var(--header-color);
}

/* --- Add Tag --- */

.add-tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 2em;
  padding: 0em 0.6em;
  border-radius: 0.5em;
  font-weight: 500;
  background: var(--add-tag-background-color);
  color: var(--add-tag-text-color);
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
}

.popup-content h1 {
  margin-bottom: 0.2em;
}

.box-content {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4em;
}

/* --- PreferenceSection --- */

.section-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 8em;
  width: fit-content;
  color: var(--subheader-color);
  font-weight: var(--header-font-weight);
}

.section-label h1 {
  margin-bottom: var(--section-label-margin-bottom);
  font-size: var(--section-label-font-size);
  color: var(--section-label-font-color);
}

.section-label h2 {
  font-size: 0.9em;
  font-weight: var(--subheader-font-weight);
  color: #6a6a6a;
}

.preference-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  border-top: 0.2em solid var(--dashboard-background);
  background-color: var(--profile-section-background-color);
}

.preferences-container {
  box-shadow: rgba(0, 0, 0, 0.058) 0px 4px 12px;
  border-radius: var(--border-radius);
}

.preferences-container > *:first-child {
  border-top: none;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.preferences-container > *:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
}

.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -0.5em;
}

.tags-container > * {
  margin: 0.15em 0.4em;
}

.edit-actions {
  cursor: pointer;
}

.edit-actions img {
  width: 2em;
}

/* -------- Web -------- */

@media only screen and (min-width: 1300px) {
  /* --- Header --- */
  .section-header img {
    display: flex;
    width: var(--main-header-size);
  }

  .profile {
    margin-left: 10em;
    margin-top: unset;
  }

  /* .content {
    width: 88%;
  } */

  .dietary-preferences {
    margin-bottom: 7em;
  }
}
