:root {
  --nav-background-color: #2f2f2f;
  --nav-selected: white;
  --nav-non-selected: #aaaaaa;
  --dashboard-background: #f6f6f6;
  --border-bottom-color: orange;
}

/* --- Dashboard --- */

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  background-color: white;
  height: 100%;
  /* max-width: 50em; */
}

/* --- Navbar --- */

.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--nav-background-color);
  /* margin-bottom: 2em; */
  margin: unset;
  padding: 0 2em;
  border-radius: 0.8em;
  /* width: 100%; */
}

.navbar p {
  margin: 0 1em;
  padding: 1em 0 0.8em 0;
  font-weight: 500;
  font-size: 1.2em;
  cursor: pointer;
  /* white-space: no-wrap; */
}

.navbar .none {
  color: var(--nav-non-selected);
  cursor: pointer;
}

.navbar .selected {
  color: var(--nav-selected);
  border-bottom: 5px solid var(--border-bottom-color);
  margin-bottom: unset;
}
