:root {
  --nav-background-color: #2f2f2f;
  --nav-selected: white;
  --nav-non-selected: #aaaaaa;
}

/* --- Dashboard --- */

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

/* --- Navbar --- */

.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--nav-background-color);
  margin-bottom: 2em;
  padding: 0 2em;
  border-radius: 0.8em;
  font-size: 1.1em;
}

.navbar h2 {
  margin: 0 1em;
  padding: 1em 0;
}

.navbar .none {
  color: var(--nav-non-selected);
}

.navbar .selected {
  color: var(--nav-selected);
  border-bottom: 5px solid orange;
  margin-bottom: unset;
}
