.passenger-board {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 2em;
  padding: 1em;
}

.column {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 1em;
  border-radius: var(--border-radius);
  font-family: "Lexend", sans-serif;
  text-decoration: underline;
}
