/* ---- events ---- */

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  padding: 2em;
  width: 95vw;
  height: 100vh;
  overflow-x: hidden;
}

/* ----  event-section-header ---- */

.event-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 3.2em;
}

.event-section-header h1 {
  font-size: var(--header-size);
  font-weight: var(--header-font-weight);
  margin-top: unset;
}

/* ---- event-popup ---- */

.event-popup {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3em;
  border-radius: 2em;
  box-shadow: var(--box-shadow);
  font-family: Lexend;
  gap: 3em;
  width: fit-content;
  height: fit-content;
}

.event-popup img.close {
  transform: scale(2.4);
}

/* ---- calendar-container ---- */

.calendar-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  margin-bottom: 10em;
  width: 100%;
  gap: 2em;
}

.fc .fc-toolbar-title {
  color: rgb(255, 255, 255);
}

.fc-daygrid-event-dot {
  border-color: var(--custom-orange) !important;
}

.fc .fc-button-primary,
.fc .fc-button-primary:disabled {
  background-color: var(--custom-orange);
}

.fc .fc-button-primary:hover {
  background-color: var(--custom-orange);
  opacity: 50%;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  cursor: pointer;
}

.pending-no-results {
  margin-top: 2em;
}

.events a {
  color: white;
}

.event-filter {
  display: flex;
  flex-direction: row;
  border-radius: 0.4em;
  background-color: #191919;
  color: white;
  padding: 0.7em 0.9em;
  gap: var(--gap);
}

.event-filter > span {
  cursor: pointer;
  letter-spacing: 0.02em;
}

.event-filter .selected {
  font-weight: 400;
}

.event-filter .unselected {
  font-weight: 300;
  opacity: 70%;
}

.calendar {
  background-color: var(--nav-background-color);
  border-radius: var(--border-radius);
  padding: 2em;
  width: 100%;
  min-height: 30em;
  height: 100%;
  box-shadow: var(--box-shadow);
}

/* ---- selected-event ---- */

.selected-event {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  background-color: white;
  padding: 2em;
  height: fit-content;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 50%;
}

.selected-event .header {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
}

.selected-event h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.selected-event .divider {
  border: 0.6px solid rgb(225, 225, 225);
  border-radius: var(--border-radius);
}

.selected-event h2.section-title {
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 1.2em;
  text-transform: uppercase;
}

.section {
  text-align: left;
  font-weight: 400;
}

.section img {
  transform: scale(0.65);
}

.section p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2em;
  font-size: 0.94em;
  cursor: pointer;
}

.section.description > p {
  cursor: auto;
}

.selected-event h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0.3em;
}

.selected-event .header {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.selected-event .people {
  display: flex;
  flex-direction: column;
  box-shadow: unset;
  align-items: flex-start;
}

/* ---- card-actions ---- */

.card-actions {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-actions h1 {
  margin-bottom: 0;
}

.card-actions p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
  cursor: pointer;
  font-size: 0.9em;
}

.card-actions p > * {
  margin-right: 0.8em;
  font-size: 0.9em;
}

.card-actions img {
  transform: scale(0.8);
}

/* ---- carpool-details ---- */

.carpool-details {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

/* ---- general ---- */

p {
  margin: unset;
}

/* -------- Web -------- */

@media only screen and (min-width: 1300px) {
  .events {
    margin-left: 10em;
  }
}
