/* ---- events ---- */

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  padding: 2em;
  width: 95vw;
  height: 100vh;
  overflow-x: hidden;
}

/* ---- event-popup ---- */

.event-popup {
  background-color: var(--dashboard-background);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3em;
  border-radius: 2em;
  box-shadow: var(--box-shadow);
  font-family: Lexend;
  gap: 3em;
  width: fit-content;
  min-height: 50vh;
}

/* ---- calendar-container ---- */

.calendar-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10em;
}

.calendar {
  background-color: rgb(36, 52, 83);
  border-radius: var(--border-radius);
  padding: 2em;
  min-width: 40em;
  min-height: 30em;
  height: 100%;
}

/* ---- selected-event ---- */

.selected-event {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em;
  height: fit-content;
}

.selected-event .description {
  border-bottom: 1px solid grey;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

/* ---- card-actions ---- */

.card-actions p {
  cursor: pointer;
}

/* ---- carpool-details ---- */

.carpool-details {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

/* ---- general ---- */

p {
  margin: unset;
}
