:root {
  --nav-background-color: #262626;
  --nav-selected: white;
  --nav-non-selected: #aaaaaa;
  --dashboard-background: white;
  --border-bottom-color: orange;
}

/* --------- Mobile --------- */

/* --- Dashboard --- */

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  background-color: var(--dashboard-background);
  height: 100%;
  width: 96vw;
}

.actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3.8em;
}

/* --- UserSettings --- */

.user-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  justify-items: center;
  justify-content: center;
  height: 85%;
  margin-left: 1em;
  margin-top: 0.2em;
  border-radius: 2em;
}

/* --- Navbar --- */

.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--nav-background-color);
  justify-items: center;
  justify-content: center;

  width: 100%;

  border-radius: 0.5em;
  height: 98%;
}

.navbar p {
  margin: 0 1em;
  padding-top: 1em;
  font-weight: 400;
  font-size: 1.15em;
  cursor: pointer;
}

.navbar .none {
  color: var(--nav-non-selected);
  cursor: pointer;
}

.navbar .selected {
  color: var(--nav-selected);
  border-bottom: 5px solid var(--border-bottom-color);
  margin-bottom: unset;
  padding-bottom: 0.7em;
}

/* --------- Web --------- */

@media only screen and (min-width: 900px) {
  /* --- Dashboard --- */

  .dashboard {
    flex-direction: row;
    padding: unset;
    height: 100%;
    width: 100vw;
    overflow: hidden;
  }

  /* --- Navbar --- */

  .navbar {
    flex-direction: column;
    height: 100vh;
    border-radius: unset;
    margin: unset;
    width: 100%;
  }

  /* --- Actions --- */

  .actions {
    flex-direction: column;
    height: 100vh;
    width: 25%;
  }

  /* --- Actions --- */

  .user-settings {
    display: none;
  }
}
