:root {
  --nav-background-color: #191919;
  --nav-selected: 333333;
  --nav-non-selected: #a9a9a9;
  --dashboard-background: #f3f2ef;
  --border-bottom-color: orange;
  --custom-orange: #e48f10;
  --box-shadow: rgba(0, 0, 0, 0.059) 0px 4px 12px;
  --input-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* --------- Mobile --------- */

/* --- Dashboard --- */

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: var(--dashboard-background);
  width: 100%;
  align-items: center;
  height: fit-content;
}

/* --- Logo & UserSettings --- */

.logo {
  font-family: "Satisfy", sans-serif;
  color: white;
  font-size: 1.6em;
}

.user-settings {
  border-radius: 2em;
  transform: scale(1.8);
  cursor: pointer;
  z-index: 2;
}

/* --- Navbar --- */

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--nav-background-color);
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5em;
  border-radius: var(--border-radius);
  z-index: 2;
  padding: 0 2em;
  box-shadow: var(--box-shadow);
}

.tabs {
  display: flex;
  flex-direction: row;
}

a {
  color: whitesmoke;
  text-decoration: none; /* no underline */
}

.navbar p {
  margin: 1em;
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
}

.navbar .none {
  color: var(--nav-non-selected);
  cursor: pointer;
}

.navbar a {
  font-style: normal;
}

.navbar .selected {
  color: var(--nav-selected);
  margin-bottom: unset;
  padding-bottom: 0.7em;
}

/* --------- Web --------- */

@media only screen and (min-width: 1300px) {
  /* --- Dashboard --- */

  .dashboard {
    flex-direction: row;
    padding: unset;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  /* --- Navbar --- */

  .navbar {
    flex-direction: column;
    height: 100vh;
    border-radius: unset;
    margin: unset;
    width: fit-content;
  }

  .tabs {
    flex-direction: column;
  }
}
