@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Catamaran:wght@300&family=Hind:wght@300&family=Lato:wght@300&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@300&family=Pacifico&family=Roboto+Condensed:wght@300;400&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-green-light: #009619;
  --color-green-dark: #00770a;
  --color-white: #ffffff;
  --color-black: #000000;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lexend", sans-serif;
}
