.invitation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin: 2em;
  background-color: white;
  height: fit-content;
  min-width: fit-content;
  width: 100%;
  letter-spacing: 0.02em;
  padding: 1.5em;
}

.invitation h1 {
  font-size: var(--header-size);
  font-weight: var(--header-font-weight);
  color: var(--header-color);
  width: 100%;
}

.invitation p {
  font-weight: 400;
  color: rgb(95, 98, 100);
  letter-spacing: 0.05em;
}

.invitation .left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  letter-spacing: 0em !important;
  width: fit-content;
}

.invitation .left-container > p {
  letter-spacing: 0em;
  color: var(--header-color);
  transform: scale(0.92);
}

.invitation .right-container {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  font-weight: 500;
  text-align: left;
  align-items: left;
  justify-content: center;
  transform: scale(0.95);
}

.invitation .left-container .header p {
  font-weight: 400;
  color: #191919;
}

.invitation .left-container .header {
  display: flex;
  flex-direction: column;
  align-items: left;
  transform: scale(0.92);
  gap: 0.2em;
  margin-bottom: 1em;
}

.invitation .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: unset;
  margin-left: -0.5em;
}

.invitation .actions > * {
  border-radius: 5em;
  padding: 0.5em 0.8em;
  transform: scale(0.9);
  border: 0.2em solid black;
}

h2.countdown {
  font-size: 1.8em;
  margin: 0.5em 0;
}

.invitation-divider {
  width: 0.5em;
  height: 17em;
  margin: 0 1.5em;
  background-color: var(--dashboard-background);
}

.first-section,
.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 74vw;
}

.first-section {
  margin-top: 1em;
  margin-bottom: 0;
}

.second-section {
  margin-top: 0;
  margin-bottom: 4em;
}

.second-section .event-section-header {
  margin-bottom: 1em;
}

.second-section h2 {
  margin-bottom: unset;
}

.option-wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  width: 100%;
}

.option-wheel-container h2 {
  font-size: 1.3em;
  margin-bottom: 0;
}

.option-wheel-container .button {
  width: 12em;
}

.spinning-wheel {
  margin-top: 5em;
  margin-bottom: -1em;
  transform: scale(0.9);
}

.triangle {
  width: 0;
  height: 0;
  border: 150px solid transparent;
  border-top: 0;
  border-bottom: 300px solid black;
  transform: rotate(90deg) scale(0.1);
  margin-bottom: -25.7em;
  margin-right: 30em;
}

.options {
  margin-top: 2em;
  margin-bottom: 2.5em;
}

.options canvas {
  width: 390px;
  height: 390px;
}

.wheel-actions {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.attendance-container {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  text-align: start;
  width: 100%;
  gap: 1em;
}

.attendance-label {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 1em;
  letter-spacing: 0.02em;
}

.attendance-container > * {
  display: flex;
  flex-direction: column;
}

.attendance-container li {
  white-space: nowrap;
  font-weight: 300;
  color: #969696;
  margin-left: 1.5em;
  letter-spacing: 0.02em;
}

.attendance-container span {
  font-size: 0.95em;
}

.attendance-container img.close {
  margin-top: -1.5em;
  margin-right: -1.5em;
}

.attendance-container .divider {
  width: 100%;
}

/* -------- Web -------- */

@media only screen and (min-width: 1300px) {
  .second-section {
    margin-bottom: 7em;
  }
}
