:root {
  --add-tag-text-color: white;
  --add-tag-background-color: #3b3b3b;
  --header-color: #3b3b3b;
  --subheader-color: #6a6a6a;
  --border-color: #e1e1e1;
}

/* ---- Dietary Profile ---- */

.dietary-profile {
  width: 80%;
}

/* ---- Add Tag ---- */

.add-tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 2em;
  padding: 0.1em 0.7em;
  border-radius: 0.5em;
  font-weight: 500;
  background: var(--add-tag-background-color);
  color: var(--add-tag-text-color);
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.766); */
  /* width: 100%; */
  /* height: 100%; */
  /* width: 60%;
  height: 60%; */
  padding: 5em;
}

.popup-content h1 {
  margin-bottom: 0.2em;
}

.box-content {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4em;
}

/* ---- TagSection ---- */

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20em;
}

.label h1 {
  margin-bottom: -0.5em;
  font-size: 1.8em;
  color: var(--header-color);
}

.label h2 {
  font-size: 1.25em;
  font-weight: 500;
  color: var(--subheader-color);
}

.profile-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 1em;
  border-top: 1px solid var(--border-color);
}

.profile-section:last-child {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 2em;
}

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 20em;
  width: 80%;
}

.tags-container > * {
  margin-bottom: 1em;
  margin-right: 1em;
}

.tags-container p,
.edit-actions p {
  font-size: 1.2em;
}
