:root {
  --add-tag-text-color: white;
  --add-tag-background-color: #3b3b3b;
  --header-color: #3b3b3b;
  --subheader-color: #6a6a6a;
  --border-color: #e9e9e9;
}

/* ---- Dietary Profile ---- */

.dietary-profile {
  width: 90%;
  padding: 2em;
}

/* ---- Add Tag ---- */

.add-tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 2em;
  padding: 0em 0.6em;
  border-radius: 0.5em;
  font-weight: 500;
  background: var(--add-tag-background-color);
  color: var(--add-tag-text-color);
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.766); */
  /* width: 100%; */
  /* height: 100%; */
  /* width: 60%;
  height: 60%; */
  padding: 5em;
}

.popup-content h1 {
  margin-bottom: 0.2em;
}

.box-content {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4em;
}

/* ---- TagSection ---- */

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20em;
}

.label h1 {
  margin-bottom: -0.5em;
  font-size: 1.3em;
  font-weight: 600;
  color: var(--header-color);
}

.label h2 {
  font-size: 1em;
  font-weight: 500;
  color: var(--subheader-color);
}

.profile-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 1em 2em;
  /* border: 1px solid var(--border-color); */
  /* background-color: #f8f8f8; */
  /* border-radius: 1.2em; */
}

.profile-section:first-child {
  border-top: 1px solid var(--border-color);
}

/* .dietary-profile:last-child {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20em;
} */

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.tags-container > * {
  /* margin-bottom: 1em; */
  margin-right: 1em;
}

.edit-actions {
  cursor: pointer;
}

.nothing-message {
  /* font-style: italic; */
  font-weight: 400;
  color: #3b3b3b62;
}
